<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Api Practice</title>
  </head>
  <body>
    <div class="random-place">

    </div>
    <button type="button" class="fetch-btn">Fetch</button>
    <form class="" action="/places" method="post">
      <input type="text" name="place" value="">
      <button type="submit" name="button">Add</button>
    </form>
    <script src="/js/main.js" charset="utf-8"></script>
  </body>
</html>
